
body{
    background-color: hsl(46, 18%, 67%);
    color: rgb(49, 107, 27);
}

li{
    color: rgb(92, 92, 92);
}

.f33{
    float: left;
    width: 33.3%;
}

.line{
    clear: both;
    width: 100%;
    border-bottom: 1px dashed black;

}

@media screen and (max-width:480px){
    body{
        background-color: hsl(46, 18%, 67%);
        color: rgb(49, 107, 27);
    }
    
    li{
        color: rgb(92, 92, 92);
    }
    
    .f33{
        float: left;
        width: 100%;
    }
    
    .line{
        clear: both;
        width: 100%;
        border-bottom: 1px dashed black;
    
    }
    
}